html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background: #fff;
    color: #000;
    padding: 20px 50px;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-title {
    font-weight: 800;
    font-size: 30px;
}

.hero-img {
    width: 100%;
    margin-top: -100px;
    cursor: pointer;
}

/* MEDIA QUERY */
@media screen and (max-width:480px) {
    nav {
        padding: 20px;
    }
    .nav-title {
        font-size: 20px;
    }
    .hero-img {
        margin-top: -25px;
    }
}