html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background: #fff;
    color: #000;
    padding: 20px 50px;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-title {
    font-weight: 400;
    font-size: 30px;
}

.hero-img {
    width: 100%;
    cursor: pointer;
    margin-top: -200px;
    z-index: 1;
}

.category {
    padding: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.category-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    border: 1px solid #000;
    margin-right: 50px;
    cursor: pointer;
}

.category-img {
    height: 50px;
    width: 50px;
}

.category-h1 {
    font-size: 25px;
    font-weight: 800;
}

.category-title {
    padding: 10px;
}

.gallery-wrap {
    display: flex;
    justify-content: space-between;
}

.gallery-img1,
.gallery-img2 {
    width: 100%;
    height: auto;
}

.btn-wrap {
    position: absolute;
    top: 40%;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-btn {
    padding: 10px 40px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border: 1px solid #000;
}

.gallery-btn:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.5s ease;
}

.gallery-1 {
    position: relative;
}

.gallery-title {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}

.newSeason {
    display: flex;
}

.nsItem {
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nsImg {
    width: 100%;
    height: 500px;
}

.nsTitle {
    font-size: 40px;
}

.nsButton {
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
}

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}

.testimonial-heading {
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading h1 {
    font-size: 30px;
    font-weight: 800;
    color: #000;
}

.testimonial-heading span {
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #979797;
    font-size: 0.8rem;
}

.reviews {
    color: #f9d71c;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 0.9rem;
    color: #4b4b4b;
}

.testimonial-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

@media(max-width:1060px) {
    .testimonial-box {
        width: 45%;
        padding: 10px;
    }
}

@media(max-width:790px) {
    .testimonial-box {
        width: 100%;
    }

    .testimonial-heading h1 {
        font-size: 1.4rem;
    }
}

@media(max-width:340px) {
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .reviews {
        margin-top: 10px;
    }
}

::selection {
    color: #ffffff;
    background-color: #252525;
}

footer {
    background-color: whitesmoke;
    color: #000;
    padding: 1em;
}

.containerr {
    width: 100%;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-wrap {
    display: flex;
    width: 20%;
    justify-content: space-between;
    flex-basis: 20%;
}

.col-2 {
    flex-basis: 20%;
    padding: 0;
}

.col-4 {
    flex-basis: 40%;
    padding: 0.5em;
}

.copy-r {
    width: 100%;
    text-align: center;
    color: #000;
}

.f-list {
    padding: 0;
    cursor: pointer;
}

.size-img {
    width: 1000px;
}

.size-title {
    font-size: 40px;
}

.size-wrap {
    padding: 50px;
}

.size-cart {
    align-items: center;
    text-align: center;
}

/* MEDIA QUERY */
@media screen and (max-width:480px) {
    nav {
        padding: 10px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }

    .nav-title {
        font-size: 20px;
    }

    .hero-img {
        margin-top: 40px;
    }

    .category {
        text-align: center;
    }

    .category-h1 {
        font-size: 20px;
        font-weight: 800;
    }

    .category-wrap {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 0;
    }

    .category-img {
        height: 40px;
        width: 40px;
    }

    .category-item {
        padding: 15px;
        margin-top: 20px;
        margin-right: 0;
    }

    .gallery-wrap {
        display: flex;
        flex-direction: column;
    }

    .gallery-title,
    .size-title {
        font-size: 30px;
    }

    .btn-wrap {
        top: 20%;
    }

    .uu {
        left: 23%;
    }

    .size-img {
        width: 300px;
        margin-left: -10px;
    }

    .newSeason {
        flex-direction: column;
    }

    .nsItem:nth-child(2) {
        padding: 50px;
    }

    /* footer {
        flex-direction: column;
        align-items: center;
    }

    .footerLeft {
        padding: 20px;
        width: 90%;
    }

    .footerRight {
        padding: 20px;
        width: 90%;
        align-items: center;
        background-color: whitesmoke;
    } */
    .container {
        max-width: 100%;
        padding: 0;
    }

    .col-2,
    .col-4 {
        flex-basis: 100%;
    }

    .col-wrap {
        display: flex;
        justify-content: space-between;
    }

    .m-2 {
        padding: 0.5em;
    }

    .ml-2 {
        margin-left: 50px;
    }

    .foot-txt {
        margin-left: 10px;
    }
}